[Unit]
Description=Camera Cmd server node script
After=network.target

[Service]
Environment="CAMERA_CMD_FILE=/home/jonbons/CameraMotionRig/camera_async/send_cmd.txt"
ExecStart=/usr/bin/node /home/jonbons/CameraMotionRig/cmd_server/server.js

[Install]
WantedBy=multi-user.target
