[Unit]
Description=Camera Control python script
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/CameraMotionRig/services/CameraController.py

[Install]
WantedBy=multi-user.target
